<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="/sportweb/static/css/odds.css" rel="stylesheet" type="text/css">
	<script src="/sportweb/static/jquery-3.3.1.js"></script>
</head>
<body>
	<div id="topMenu">
		<div id="nav">
			<div id="Head1_menu1" class="subMenu">
				<a href="/odds/" style="color: #b00">指数比较</a> <span id="toperText"></span>
			</div>
		</div>
	</div>
	<div id="toperAd2"
		style="clear: both; margin: auto; width: 940px; padding: 0px 5px 5px 5px; background-color: white; text-align: center; line-height: 0px;">&nbsp;
	</div>
	
	
	<div id="oddsmain">
		<div>
			<div id="left">
				<div id="leftAd" style="line-height:60%"></div>    
				<div id="leftFloatAd" style="line-height:60%">
					<div id="lqdel" style="position: absolute;visibility: 
					visible;z-index:1;line-height:60%"></div>
				</div>	
				<div>&nbsp;</div>
			</div>
			<div id="odds">
				<table width="100%" border="0" cellpadding="0" cellspacing="1" class="b_tab">
					<tbody>
						<tr class="stit" style="line-height:22px;">
							<td width="11%" colspan="2">联赛</td><td>对阵</td><td width="6%">比分</td><td width="10%">澳彩</td><td width="10%">易胜博</td><td width="10%">Bet365</td><td width="10%">Crown</td><td width="10%">12bet</td>
						</tr>
					
						<tr th:attr="id=${football.indexId}" th:each="football,iterStat:${indexList}" style="background-color:white" align="center" height="15" index="0">
							<td></td>
							<td th:onclick="'javascript:showdetail('+${football.indexId}+')' " th:attr="id='l_'+${football.indexId}" width="11%" bgcolor="#8e9cdf" >
								<a th:href="'./detail?indexId='+${football.indexId} "  target="_blank" color="#ffffff"  th:text="${football.leagueName}"></a><br>
								<span th:text="${football.startTime}"></span>
							</td>
							<td style="text-align:left;">
								<div>&nbsp;
									<a th:attr="id='t1_'+${football.indexId}" th:text="${football.teamName1}"></a>
								</div> &nbsp;
								<br>
								<div>&nbsp;
									<a th:attr="id='t2_'+${football.indexId}" th:text="${football.teamName2}"></a>
								</div>
							</td>
							<td>
								&nbsp;<span th:attr="id='hs_'+${football.indexId}" class="score" th:text="${football.score1}"></span>
								<br><br>
								<span th:attr="id='gs_'+${football.indexId}" class="score" th:text="${football.score2}"></span>
							</td>
							<td style="text-align:center;">
								<a th:attr="id='ov1_'+${football.indexId}" th:text="${football.over1}"></a><br>
								<a th:attr="id='wg1_'+${football.indexId}" th:text="${football.webGoal1}"></a><br>
								<a th:attr="id='ud1_'+${football.indexId}" th:text="${football.under1}"></a>
							</td>
							<td style="text-align:center;">
								<a th:attr="id='ov2_'+${football.indexId}" th:text="${football.over2}"></a><br>
								<a th:attr="id='wg2_'+${football.indexId}" th:text="${football.webGoal2}"></a><br>
								<a th:attr="id='ud2_'+${football.indexId}" th:text="${football.under2}"></a>
							</td>
							<td style="text-align:center;">
								<a th:attr="id='ov3_'+${football.indexId}" th:text="${football.over3}"></a><br>
								<a th:attr="id='wg3_'+${football.indexId}" th:text="${football.webGoal3}"></a><br>
								<a th:attr="id='ud3_'+${football.indexId}" th:text="${football.under3}"></a>
							</td>
							<td style="text-align:center;">
								<a th:attr="id='ov4_'+${football.indexId}" th:text="${football.over4}"></a><br>
								<a th:attr="id='wg4_'+${football.indexId}" th:text="${football.webGoal4}"></a><br>
								<a th:attr="id='ud4_'+${football.indexId}" th:text="${football.under4}"></a>
							</td>
							<td style="text-align:center;">
								<a th:attr="id='ov5_'+${football.indexId}" th:text="${football.over5}"></a><br>
								<a th:attr="id='wg5_'+${football.indexId}" th:text="${football.webGoal5}"></a><br>
								<a th:attr="id='ud5_'+${football.indexId}" th:text="${football.under5}"></a>
							</td>
						</tr> 
					</tbody>
				</table>
				
			</div>
			<div id="right">
				<div id="rightAd" style="line-height:60%"></div>    
				<div id="rightFloatAd" style="line-height:60%">
					<div id="lqder" style="position: absolute;visibility: visible;z-index:1;line-height:60%"></div>
				</div>
			</div>
			<div style="clear:both"></div>  
		</div>
		
	</div>
	<script src="/sportweb/static/js/refresh_func.js"></script>
</body>
</html>