<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sports.core.mapper.FootballIndexMapper">

	<resultMap id="FootballMap" type="org.sports.core.model.FootballIndex">
		<id column="id" property="id" jdbcType="INTEGER" />
		<id column="league_name" property="leagueName"/>
		<id column="start_time" property="startTime"/>
		<id column="end_time" property="endTime"/>
		<id column="start_Date" property="startDate"/>
		<id column="team_name1" property="teamName1"/>
		<id column="score1" property="score1"/>
		<id column="team_name2" property="teamName2"/>
		<id column="score2" property="score2"/>


		<id column="web1" property="web1"/>
		<id column="zoudi1" property="zoudi1"/>
		<id column="web_goal1" property="webGoal1"/>
		<id column="over1" property="over1"/>
		<id column="under1" property="under1"/>


		<id column="web2" property="web2"/>
		<id column="zoudi2" property="zoudi2"/>
		<id column="web_goal2" property="webGoal2"/>
		<id column="over2" property="over2"/>
		<id column="under2" property="under2"/>


		<id column="web3" property="web3"/>
		<id column="zoudi3" property="zoudi3"/>
		<id column="web_goal3" property="webGoal3"/>
		<id column="over3" property="over3"/>
		<id column="under3" property="under3"/>


		<id column="web4" property="web4"/>
		<id column="zoudi4" property="zoudi4"/>
		<id column="web_goal4" property="webGoal4"/>
		<id column="over4" property="over4"/>
		<id column="under4" property="under4"/>


		<id column="web5" property="web5"/>
		<id column="zoudi5" property="zoudi5"/>
		<id column="web_goal5" property="webGoal5"/>
		<id column="over5" property="over5"/>
		<id column="under5" property="under5"/>


	</resultMap>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="FootballMap">
		select * from football_index where id = #{id}
	</select>

	<select id="selectAll" resultMap="FootballMap">
		select * from football_index
	</select>

	<insert id="insert" keyProperty="entity.id" useGeneratedKeys="true">
		insert into football_index
		(`league_name`, `start_time`, `end_time`, `start_date`, `team_name1`, `score1`, `team_name2`, `score2`,
		`web1`, `zoudi1`, `web_goal1`, `over1`, `under1`,
		`web2`, `zoudi2`, `web_goal2`, `over2`, `under2`,
		`web3`, `zoudi3`, `web_goal3`, `over3`, `under3`,
		`web4`, `zoudi4`, `web_goal4`, `over4`, `under4`,
		`web5`, `zoudi5`, `web_goal5`, `over5`, `under5`)
		values
		(#{entity.leagueName}, #{entity.startTime}, #{entity.endTime}, #{entity.startDate},
		#{entity.teamName1}, #{entity.score1}, #{entity.teamName2}, #{entity.score2},
		#{entity.web1}, #{entity.zoudi1}, #{entity.webGoal1}, #{entity.over1}, #{entity.under1},
		#{entity.web2}, #{entity.zoudi2}, #{entity.webGoal2}, #{entity.over2}, #{entity.under2},
		#{entity.web3}, #{entity.zoudi3}, #{entity.webGoal3}, #{entity.over3}, #{entity.under3},
		#{entity.web4}, #{entity.zoudi4}, #{entity.webGoal4}, #{entity.over4}, #{entity.under4},
		#{entity.web5}, #{entity.zoudi5}, #{entity.webGoal5}, #{entity.over5}, #{entity.under5})
	</insert>

	<insert id="insertByBatch" keyProperty="id" useGeneratedKeys="true">
		insert into football_index
		(`league_name`, `start_time`, `end_time`, `start_date`, `team_name1`, `score1`, `team_name2`, `score2`,
		`web1`, `zoudi1`, `web_goal1`, `over1`, `under1`,
		`web2`, `zoudi2`, `web_goal2`, `over2`, `under2`,
		`web3`, `zoudi3`, `web_goal3`, `over3`, `under3`,
		`web4`, `zoudi4`, `web_goal4`, `over4`, `under4`,
		`web5`, `zoudi5`, `web_goal5`, `over5`, `under5`)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.leagueName}, #{item.startTime}, #{item.endTime}, #{item.startDate},
			#{item.teamName1}, #{item.score1}, #{item.teamName2}, #{item.score2},
			#{item.web1}, #{item.zoudi1}, #{item.webGoal1}, #{item.over1}, #{item.under1},
			#{item.web2}, #{item.zoudi2}, #{item.webGoal2}, #{item.over2}, #{item.under2},
			#{item.web3}, #{item.zoudi3}, #{item.webGoal3}, #{item.over3}, #{item.under3},
			#{item.web4}, #{item.zoudi4}, #{item.webGoal4}, #{item.over4}, #{item.under4},
			#{item.web5}, #{item.zoudi5}, #{item.webGoal5}, #{item.over5}, #{item.under5})
		</foreach>
	</insert>

	<update id="truncateTable">
		truncate table football_index
	</update>


</mapper>